
<h1><%= @user.name %>'s collection</h1>

<label>Name filter</label>
<input type="text" id="nameFilter">

<select id="classFilter">
    <option value="All">All</option>
    <option value="">Common</option>
    <option value="1">Warrior</option>
    <option value="2">Paladin</option>
    <option value="3">Hunter</option>
    <option value="4">Rogue</option>
    <option value="5">Priest</option>
    <option value="11">Druid</option>
    <option value="7">Shaman</option>
    <option value="8">Mage</option>
    <option value="9">Demonist</option>
</select>

<select id="typeFilter">
    <option value="All">All</option>
    <option value="4">Minion</option>
    <option value="5">Spell</option>
    <option value="7">Weapon</option>
</select>

<table>
    <thead>
    <tr>
        <th>Set</th>
        <th>Quality</th>
        <th>Type</th>
        <th>Cost</th>
        <th>Health</th>
        <th>Attack</th>
        <th>Faction</th>
        <th>Class</th>
        <th>Elite</th>
        <th>Collectible</th>
        <th>Name</th>
        <th>Description</th>
        <th>Popularity</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @cards.each do |card| %>
        <tr class="card-line">
            <td><%= card.set %></td>
            <td><%= card.quality %></td>
            <td class="card-type"><%= card.type_id %></td>
            <td><%= card.cost %></td>
            <td><%= card.health %></td>
            <td><%= card.attack %></td>
            <td><%= card.faction %></td>
            <td class="card-class"><%= card.class_id %></td>
            <td><%= card.name %></td>
            <td><%= card.description %></td>
            <td><%= card.popularity %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>

<script>
    (function($, window, document) {

        var handlingNameFilter = function() {
            $('#nameFilter').keyup(function() {
                $.each($('tr.card-line'), function(i, val) {
                    if ($(val).text().indexOf($(this).val()) == -1)
                        $('tr.card-line').eq(i).hide();
                    else
                        $('tr.card-line').eq(i).show();
                }.bind(this));
            });
        };

        var selectFilter = function(id, td, parent) {
            $(id).change(function() {
                $.each($(td), function(i, e) {
                    if($(this).val() === "All" || $(e).text() === $(this).val())
                        $(e).parent(parent).show();
                    else
                        $(e).parent(parent).hide();
                }.bind(this));
            });
        }

        var handlingClassFilter = function() {
            selectFilter('#classFilter', 'td.card-class', 'tr');
        };

        var handlingTypeFitler = function() {
            selectFilter('#typeFilter', 'td.card-type', 'tr');
        };

        $(function() {
            handlingNameFilter();
            handlingClassFilter();
            handlingTypeFitler();
        });
    }(window.jQuery, window, document));
</script>