<h1><%= @user.name %>'s collection</h1>

<label>Name filter</label>
<input type="text" id="nameFilter">

<select id="classFilter">
    <option value="All">All</option>
    <option value="">Common</option>
    <option value="1">Warrior</option>
    <option value="2">Paladin</option>
    <option value="3">Hunter</option>
    <option value="4">Rogue</option>
    <option value="5">Priest</option>
    <option value="11">Druid</option>
    <option value="7">Shaman</option>
    <option value="8">Mage</option>
    <option value="9">Demonist</option>
</select>

<select id="typeFilter">
    <option value="All">All</option>
    <option value="4">Minion</option>
    <option value="5">Spell</option>
    <option value="7">Weapon</option>
</select>

<label>Set</Label>
<select id="setFilter">
    <option value="All">All</option>
    <option value="2">Base</option>
    <option value="3">Craft</option>
</select>

<select id="costFilter">
    <option value="All">All</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8+">8+</option>
</select>

<table>
    <thead>
    <tr>
        <th>Set</th>
        <th>Quality</th>
        <th>Type</th>
        <th>Cost</th>
        <th>Health</th>
        <th>Attack</th>
        <th>Faction</th>
        <th>Class</th>
        <th>Name</th>
        <th>Description</th>
        <th>Popularity</th>
        <th>In possession</th>
        <th><input id="addAllCards" type="button" value="Add All"/></th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @cards.each do |card, count| %>
        <tr class="card-line">
            <input type="hidden" value="<%= card.id %>"/>
            <td class="card-set"><%= card.set %></td>
            <td><%= card.quality %></td>
            <td class="card-type"><%= card.type_id %></td>
            <td class="card-cost"><%= card.cost %></td>
            <td><%= card.health %></td>
            <td><%= card.attack %></td>
            <td><%= card.faction %></td>
            <td class="card-hero"><%= card.hero_id %></td>
            <td class="card-name"><%= card.name %></td>
            <td><%= card.description %></td>
            <td><%= card.popularity %></td>
            <td class="card-count"><%= count %></td>
            <td><input data-role="add-card" type="button" value="+"/></td>
            <% if count > 0 %>
                <td class="delete-card"><input data-role="delete-card" type="button" value="-"/></td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>

<script>
    (function($, window, document) {
        var costFilter = function(selectedValue, element) {
            return selectedValue === "All" || element === selectedValue || (selectedValue === "8+" && parseInt(element) >= 8)
        };

        var contains = function(selectedValue, element) {
            return element === '' || element.toLowerCase().indexOf(selectedValue.toLowerCase()) > -1;
        };

        var typeFilter = function(selectedValue, element) {
            return selectedValue === "All" || element === selectedValue;
        };

        var handlingFilters = function(selectorId, eventName, filter, elements, parent){
            $(selectorId).on(eventName, function() {
                $.each($(elements), function(i, e) {
                    if (filter($(this).val(), $(e).text()))
                        $(e).parent(parent).show();
                    else
                        $(e).parent(parent).hide();
                }.bind(this));
            });
        };

        var handlingNameFilter = function() {
            handlingFilters('#nameFilter', 'keyup', contains, 'td.card-name', 'tr');
        };

        var handlingClassFilter = function() {
            handlingFilters('#classFilter', 'change',  typeFilter, 'td.card-hero', 'tr');
        };

        var handlingCostFilter = function() {
            handlingFilters('#costFilter', 'change', costFilter, 'td.card-cost', 'tr');
        };

        var handlingTypeFilter = function() {
            handlingFilters('#typeFilter', 'change', typeFilter, 'td.card-type', 'tr');
        };

        var handlingSetFilter = function() {
            handlingFilters('#setFilter', 'change', typeFilter, 'td.card-set', 'tr');
        };

        var getCardToSave = function() {
            return $('tr:visible.card-line').map(function(i, e) {
                return parseInt($(e).children('input[type=hidden]').val());
            }).get();
        };

        var handlingCardAdd = function() {
            $('input[data-role=add-card]').click(function() {
                var cardId = $(this).closest('tr').children('input[type=hidden]').val();
                var count =  $(this).closest('tr').children('td.card-count');
                var deleteColumn = $(this).closest('tr').children('td.delete-card')

                $.ajax({
                    type: "POST",
                    url: '<%= user_add_card_path %>',
                    data: JSON.stringify({ card_id:  cardId }),
                    dataType: "json",
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json"
                    },
                    success: function() {
                        count.text(parseInt(count.text()) + 1);
                        deleteColumn.show();
                    }
                });
            });
        };

        var handlingDeleteCard = function() {
            $('input[data-role=delete-card]').click(function() {
                var cardId = $(this).closest('tr').children('input[type=hidden]').val();
                var count =  $(this).closest('tr').children('td.card-count');
                var deleteColumn = $(this).closest('tr').children('td.delete-card')

                $.ajax({
                    type: "POST",
                    url: '<%= user_delete_card_path %>',
                    data: JSON.stringify({ card_id:  cardId }),
                    dataType: "json",
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json"
                    },
                    success: function() {
                        count.text(parseInt(count.text()) - 1);
                        if(count.text() == "0")
                            deleteColumn.hide();
                    }
                });
            });
        };

        var addAll = function() {
            $('#addAllCards').click(function() {
                $.ajax({
                    type: "POST",
                    url: '<%= user_add_card_path %>',
                    data: JSON.stringify({ card_id:  getCardToSave() }),
                    dataType: "json",
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json"
                    },
                    success: function(d) {
                    }
                });
            });
        };

        var initAddButton = function() {
            
        }

        $(function() {
            handlingNameFilter();
            handlingClassFilter();
            handlingTypeFilter();
            handlingCostFilter();
            handlingSetFilter();
            handlingCardAdd();
            handlingDeleteCard();
            addAll();
        });
    }(window.jQuery, window, document));
</script>