
<h1><%= @user.name %>'s collection</h1>

<label>Name filter</label>
<input type="text" id="nameFilter">

<select id="classFilter">
    <option value="All">All</option>
    <option value="">Common</option>
    <option value="1">Warrior</option>
    <option value="2">Paladin</option>
    <option value="3">Hunter</option>
    <option value="4">Rogue</option>
    <option value="5">Priest</option>
    <option value="11">Druid</option>
    <option value="7">Shaman</option>
    <option value="8">Mage</option>
    <option value="9">Demonist</option>
</select>

<select id="typeFilter">
    <option value="All">All</option>
    <option value="4">Minion</option>
    <option value="5">Spell</option>
    <option value="7">Weapon</option>
</select>

<select id="costFilter">
    <option value="All">All</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8+">8+</option>
</select>

<input id="saveButton" type="button" value="save"/>

<table>
    <thead>
    <tr>
        <th>Set</th>
        <th>Quality</th>
        <th>Type</th>
        <th>Cost</th>
        <th>Health</th>
        <th>Attack</th>
        <th>Faction</th>
        <th>Class</th>
        <th>Name</th>
        <th>Description</th>
        <th>Popularity</th>
        <th><input type="button" value="Add All"/></th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @cards.each do |card| %>
        <tr class="card-line">
            <td><%= card.set %></td>
            <td><%= card.quality %></td>
            <td class="card-type"><%= card.type_id %></td>
            <td class="card-cost"><%= card.cost %></td>
            <td><%= card.health %></td>
            <td><%= card.attack %></td>
            <td><%= card.faction %></td>
            <td class="card-class"><%= card.class_id %></td>
            <td class="card-name"><%= card.name %></td>
            <td><%= card.description %></td>
            <td><%= card.popularity %></td>
            <td><input type="button" value="+"/></td>
        </tr>
    <% end %>
    </tbody>
</table>

<script>
    (function($, window, document) {
        var costFilter = function(selectedValue, element) {
            return selectedValue === "All" || element === selectedValue || (selectedValue === "8+" && parseInt(element) >= 8)
        };

        var contains = function(selectedValue, element) {
            return element === '' || element.toLowerCase().indexOf(selectedValue.toLowerCase()) > -1;
        };

        var typeFilter = function(selectedValue, element) {
            return selectedValue === "All" || element === selectedValue;
        };

        var handlingFilters = function(selectorId, eventName, filter, element, parent){
            $(selectorId).on(eventName, function() {
                $.each($(element), function(i, val) {
                    if (filter($(this).val(), $(val).text()))
                        $(val).parent(parent).show();
                    else
                        $(val).parent(parent).hide();
                }.bind(this));
            });
        };

        var handlingNameFilter = function() {
            handlingFilters('#nameFilter', 'keyup', contains, 'td.card-name', 'tr');
        };

        var handlingClassFilter = function() {
            handlingFilters('#classFilter', 'change',  typeFilter, 'td.card-class', 'tr');
        };

        var handlingCostFilter = function() {
            handlingFilters('#costFilter', 'change', costFilter, 'td.card-cost', 'tr');
        };

        var handlingTypeFitler = function() {
            handlingFilters('#typeFilter', 'change', typeFilter, 'td.card-type', 'tr');
        };

        var getCardToSave = function() {
            return [1 , 2 ,3];
        };

        var handlingSave = function() {
            $('#saveButton').click(function() {
                $.ajax({
                    type: "POST",
                    url: '<%= user_add_cards_path %>',
                    data: JSON.stringify({ cards:  getCardToSave() }),
                    dataType: "json",
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json"
                    },
                    success: function(d) {
                        console.log(d);
                    }
                });
            });
        };

        $(function() {
            handlingNameFilter();
            handlingClassFilter();
            handlingTypeFitler();
            handlingCostFilter();
            handlingSave();
        });
    }(window.jQuery, window, document));
</script>