
<h1><%= @user.name %>'s collection</h1>

<label>Name filter</label>
<input type="text" id="nameFilter">

<select id="classFilter">
    <option value="All">All</option>
    <option value="">Common</option>
    <option value="1">Warrior</option>
    <option value="2">Paladin</option>
    <option value="3">Hunter</option>
    <option value="4">Rogue</option>
    <option value="5">Priest</option>
    <option value="11">Druid</option>
    <option value="7">Shaman</option>
    <option value="8">Mage</option>
    <option value="9">Demonist</option>
</select>

<select id="typeFilter">
    <option value="All">All</option>
    <option value="4">Minion</option>
    <option value="5">Spell</option>
    <option value="7">Weapon</option>
</select>

<select id="costFilter">
    <option value="All">All</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8+">8+</option>
</select>

<table>
    <thead>
    <tr>
        <th>Set</th>
        <th>Quality</th>
        <th>Type</th>
        <th>Cost</th>
        <th>Health</th>
        <th>Attack</th>
        <th>Faction</th>
        <th>Class</th>
        <th>Elite</th>
        <th>Collectible</th>
        <th>Name</th>
        <th>Description</th>
        <th>Popularity</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @cards.each do |card| %>
        <tr class="card-line">
            <td><%= card.set %></td>
            <td><%= card.quality %></td>
            <td class="card-type"><%= card.type_id %></td>
            <td class="card-cost"><%= card.cost %></td>
            <td><%= card.health %></td>
            <td><%= card.attack %></td>
            <td><%= card.faction %></td>
            <td class="card-class"><%= card.class_id %></td>
            <td class="card-name"><%= card.name %></td>
            <td><%= card.description %></td>
            <td><%= card.popularity %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<script>
    (function($, window, document) {

        var filters = [];
        var costFilter = function(selectedValue, element) {
            return selectedValue === "All" || element === selectedValue || (selectedValue === "8+" && parseInt(element) >= 8)
        };

        var contains = function(selectedValue, element) {
            return element.indexOf(selectedValue) > -1;
        };

        var applyFilters = function(selectedValue, element) {
            var result = true;
            filters.forEach(function(f) {
                if(!f(selectedValue, element)){
                    result = false;
                    return;
                }
            });
            return result;
        };

        var addFilter = function(filter) {
            if(filters.indexOf(filter) == -1)
                filters.push(filter);
        };

        var removeFilter = function(filter) {
            var index = filters.indexOf(filter);
            if(~index){
                filters.splice(index, 1);
            }
        };

        var handlingFilters = function(selectorId, eventName, filter, element, parent){
            $(selectorId).on(eventName, function() {
                addFilter(filter);
                $.each($(element), function(i, val) {
                    if (applyFilters($(this).val(), $(val).text()))
                        $(val).parent(parent).show();
                    else
                        $(val).parent(parent).hide();
                }.bind(this));
            });
        };

        var selectFilter = function(id, td, parent) {
            $(id).change(function() {
                $.each($(td), function(i, e) {
                    if($(this).val() === "All" || $(e).text() === $(this).val())
                        $(e).parent(parent).show();
                    else
                        $(e).parent(parent).hide();
                }.bind(this));
            });
        };

        var handlingNameFilter = function() {
            handlingFilters('#nameFilter', 'keyup', contains , 'td.card-name', 'tr');
        };

        var handlingClassFilter = function() {
            //handlingFilters('#classFilter', 'change',  , 'td.card-class', 'tr');
        };

        var handlingCostFilter = function() {
            handlingFilters('#costFilter', 'change', costFilter, 'td.card-cost', 'tr');
        }

        var handlingTypeFitler = function() {
            selectFilter('#typeFilter', 'td.card-type', 'tr');
        };

        $(function() {
            handlingNameFilter();
//            handlingClassFilter();
//            handlingTypeFitler();
            handlingCostFilter();
        });
    }(window.jQuery, window, document));
</script>