<h3 class="header">My collection</h3>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s6">
        <h5> Filters </h5>
      </div>
      <div class="col s6">
        <button id="addAllCards" class="btn waves-effect waves-light">Add All Once
          <i class="mdi-content-add right"></i>
        </button>
        <button id="removeAllCards" class="btn waves-effect waves-light">Remove All
          <i class="mdi-content-remove right"></i>
        </button>
      </div>
    </div>
    <div class="input-field col s3">
      <input id="nameFilter" type="text">
      <label for="nameFilter">Name</label>
    </div>

    <div class="col s3">
        <div class="input-field">
            <select id="heroFilter">
                <option value="All">All</option>
                <option value="">Common</option>
                <option value="1">Warrior</option>
                <option value="2">Paladin</option>
                <option value="3">Hunter</option>
                <option value="4">Rogue</option>
                <option value="5">Priest</option>
                <option value="11">Druid</option>
                <option value="7">Shaman</option>
                <option value="8">Mage</option>
                <option value="9">Demonist</option>
            </select>
            <label>Hero</label>
        </div>
    </div>

    <div class="col s3">
        <div class="input-field">
            <select id="costFilter">
                <option value="All">All</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7+</option>
            </select>
            <label>Cost</label>
        </div>
    </div>

    <div class="col s3">
        <div class="input-field">
            <select id="setFilter">
                <option value="All">All</option>
                <option value="2">Base</option>
                <option value="3">Classic</option>
                <option value="4">Reward</option>
                <option value="5">Missions</option>
                <option value="11">Promotion</option>
                <option value="12">Naxxramas</option>
                <option value="13">Goblins vs Gnomes</option>
                <option value="14">Blackrock Mountain</option>
                <option value="16">Credits</option>
            </select>
            <label>Set</label>
        </div>
    </div>

  </div>
</div>

<div id="cardContainer" class="row"></div>

<script>
  (function($, window, document, Randstone) {

    var cardContainer = $("#cardContainer");
    var nameFilter = "#nameFilter";
    var heroFilter = "#heroFilter";
    var costFilter = "#costFilter";
    var setFilter = "#setFilter";
    var isBusyLoading = false;
    var isBusyAddingCards = false;
    var scrollCount = 0;

    var getNameFilterValue = function() {
      var nameInput = $(nameFilter).val();
      return !!nameInput.length ? nameInput.toLowerCase() : undefined
    }

    var getCardsFilters = function() {
      return {
        offset: scrollCount * Randstone.config.cardCollections.pagination.limit,
        limit: Randstone.config.cardCollections.pagination.limit,
        name: getNameFilterValue(),
        hero: $(heroFilter).val(),
        cost: $(costFilter).val(),
        set: $(setFilter).val()
      }
    };

    var clearCards = function() {
      cardContainer.empty();
      scrollCount = 0;
    };

    var nameFilterHandler = function() {
      $(nameFilter).on('input', function() {
        Randstone.delay(function() {
          clearAndGetCards();
        }, 700)
      });
    };

    var costFilterHandler = function() {
      $(costFilter).on('change', function() {
        clearAndGetCards();
      });
    };

    var heroFilterHandler = function() {
      $(heroFilter).on('change', function() {
        clearAndGetCards();
      });
    };

    var setFilterHandler = function() {
      $(setFilter).on('change', function() {
        clearAndGetCards();
      });
    };

    var selectFilterHandler = function(argument) {
      var action = function() {
        clearAndGetCards();
      };
      $(setFilter).change(action);
      $(heroFilter).change(action);
      $(costFilter).change(action);
    };

    var clearAndGetCards = function() {
      clearCards();
      getCards();
    };

    var appendButton = function(card) {
      var count = '<span class="badge-total">' + card.total + '</span>'
      var add = '<button data-role="add-card" class="btn-flat"><i class="mdi-content-add"></i></button>';
      var remove = '<button data-role="remove-card" class="btn-flat"><i class="mdi-content-remove"></i></button>';
      return '<div data-role="card-controller" class="center-align">' + appendInput(card) + remove + count + add + '</div>';
    };

    var appendInput = function(card) {
      var quality = '<input type="hidden" data-role="card-quality" value="'+ card.quality +'" />'
      return  quality + '<input type="hidden" data-role="card-id" value="' + card.id + '" />'
    };

    var appendCard = function(cards) {
      var cardsElement = "";
      cards.forEach(function(c) {
        cardsElement += '<div class="col half-s3"><img class="responsive-img" src="'+ c.image +'"/>' + appendButton(c) +'</div>';
      });
      cardContainer.append(cardsElement);
      initButtons();
      endLoadingCards();
    };

    var startLoadingCards = function() {
      isBusyLoading = true;
    };

    var endLoadingCards = function() {
      isBusyLoading = false;
      scrollCount++;
    };

    var getCards = function() {
      startLoadingCards();
      Randstone.ajax('<%= get_cards_path %>', 
        getCardsFilters()
      ).done(appendCard);
    };

    var isScrollBottom = function() {
      return $(window).scrollTop() >= cardContainer.offset().top + cardContainer.outerHeight() - window.innerHeight - Randstone.config.image.medium.height;
    };

    var scrollPaginateHandler = function() {
      $(window).on('scroll', function() {
        if(cardContainer.length && isScrollBottom() && !isBusyLoading) {
          getCards();
        }
      });
    };

    var addOneCardHandler = function() {
      cardContainer.on("click", "button[data-role=add-card]", function() {
        var addButton = $(this);
        var cardId = addButton.siblings("input[data-role=card-id]").val();
        var quality = addButton.siblings('input[data-role=card-quality]').val();
        var count =  addButton.siblings('span.badge-total');
        var deleteButton = addButton.siblings('button[data-role=remove-card]');

        Randstone.ajax('<%= add_card_path %>', 
          { card_id:  cardId }).done(function() {
            var newCount = parseInt(count.html()) + 1;
            count.html(newCount);
            disableButtons(addButton, deleteButton, quality, newCount);
          });
      });
    };

    var initButtons = function() {
      $("div[data-role=card-controller]").each(function() {
        var element = $(this);
        var quality = element.children('input[data-role=card-quality]').val();
        var count =  element.children('span.badge-total').html();
        var deleteButton = element.children('button[data-role=remove-card]');
        var addButton = element.children('button[data-role=add-card]');
        disableButtons(addButton, deleteButton, quality, count);
      });
    };

    var removeOneCardHandler = function() {
      cardContainer.on("click", "button[data-role=remove-card]", function() {
        var deleteButton = $(this);
        var cardId = deleteButton.siblings("input[data-role=card-id]").val();
        var quality = deleteButton.siblings('input[data-role=card-quality]').val();
        var count =  deleteButton.siblings('span.badge-total');
        var addButton = deleteButton.siblings('button[data-role=add-card]');

        Randstone.ajax('<%= delete_card_path %>', 
          { card_id:  cardId }).done(function() {
            var newCount = parseInt(count.html()) - 1;
            count.html(newCount);
            disableButtons(addButton, deleteButton, quality, newCount);
          });
      });
    }; 

    var disableOneButton = function(button) {
      button.addClass("disabled");
      button.prop("disabled", true);
    };

    var enableOneButton = function(button) {
      button.removeClass("disabled");
      button.prop("disabled", false);
    };

    var disableButtons = function(addBtn, deleteBtn, quality, count) {
        enableOneButton(addBtn);
        enableOneButton(deleteBtn);

        if (quality === 'legendary') {
            if (count > 0) {
                disableOneButton(addBtn);
            } else {
                disableOneButton(deleteBtn);
            }
        } else if (count >= 2) {
            disableOneButton(addBtn);
        } else if (count <= 0) {
            disableOneButton(deleteBtn);
        }
    };

    var addAllHandler = function() {
      $('#addAllCards').click(function() {
        if(!isBusyAddingCards){
          isBusyAddingCards = true;
          Randstone.ajax('<%= add_all_once_path %>', 
            getCardsFilters()
          ).done(function(data) {
            Materialize.toast(data.message, 5000, 'success');
            clearAndGetCards();
            isBusyAddingCards = false;
          });
        }
      });
    };

    var removeAllHandler = function() {
      $('#removeAllCards').click(function() {
        if(!isBusyAddingCards){
          isBusyAddingCards = true;
          Randstone.ajax('<%= remove_all_path %>', 
            getCardsFilters()
          ).done(function(data) {
            Materialize.toast(data.message, 5000, 'success');
            clearAndGetCards();
            isBusyAddingCards = false;
          });
        }
      });
    };

    $(function() {
      $('select').material_select();
      getCards();
      nameFilterHandler();
      scrollPaginateHandler();
      selectFilterHandler();
      addOneCardHandler();
      removeOneCardHandler();
      addAllHandler();
      removeAllHandler();
    });

  }(window.jQuery, window, document, window.Randstone));
</script>