<p id="notice"><%= notice %></p>

<h1>Listing Cards</h1>

<label>Name filter</label>
<input type="text" id="nameFilter">

<select id="classFilter">
    <option value="0">All</option>
    <option value="1">Priest</option>
    <option value="2"></option>
    <option value="3"></option>
    <option value="4"></option>
    <option value="5"></option>
    <option value="6"></option>
    <option value="7"></option>
    <option value="8"></option>
    <option value="9"></option>
</select>

<table>
  <thead>
    <tr>
      <th>Set</th>
      <th>Quality</th>
      <th>Type</th>
      <th>Cost</th>
      <th>Health</th>
      <th>Attack</th>
      <th>Faction</th>
      <th>Class</th>
      <th>Elite</th>
      <th>Collectible</th>
      <th>Name</th>
      <th>Description</th>
      <th>Popularity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr class="card-line">
        <td><%= card.set %></td>
        <td><%= card.quality %></td>
        <td><%= card.type_id %></td>
        <td><%= card.cost %></td>
        <td><%= card.health %></td>
        <td><%= card.attack %></td>
        <td><%= card.faction %></td>
        <td><%= card.class_id %></td>
        <td><%= card.elite %></td>
        <td><%= card.collectible %></td>
        <td><%= card.name %></td>
        <td><%= card.description %></td>
        <td><%= card.popularity %></td>
        <!--<td><%= link_to 'Show', card %></td>-->
        <!--<td><%= link_to 'Edit', edit_card_path(card) %></td>-->
        <!--<td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>

<script>
    (function($, window, document) {

        var handlingNameFilter = function() {
            $('#nameFilter').keyup(function() {
                $.each($('tr.card-line'), function(i, val) {
                    if ($(val).text().indexOf($(this).val()) == -1) {
                        $('tr.card-line').eq(i).hide();
                    } else {
                        $('tr.card-line').eq(i).show();
                    }
                }.bind(this));
            });
        };

        var handlingClassFilter = function() {
            $('#classFilter').change(function() {
                if($(this).val()) {

                }
            });
        };

        $(function() {
            handlingNameFilter();
            handlingClassFilter();
        });
    }(window.jQuery, window, document));
</script>
