<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
<body>
<header>
  <%= render "layouts/nav" %>
</header>

<main>
    <div class="container">
        <%= yield %>
    </div>
</main>
<script>
  (function($, window, document) {

    var toastHandler = function() {
      <% flash.each do |key, value| %>
        Materialize.toast('<%= value %>', 7000, '<%= key %>');
      <% end %>
    };

    $(function() {
      toastHandler();
    });

  }(window.jQuery, window, document));
</script>
</body>
</html>